*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #F7E9DB;
    
}

nav {
    background-color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 20;
}

nav ul {
    float: right;
    margin-right: 20px;
    border-bottom: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}
nav ul li a {
    font: size 20px;
    padding: 7px 13px;
    border-radius: 3px;
    color: #000;
   
}
a.active,a:hover{
    background-color: #FF4066;
    transition: 3s;
    border-bottom: #f7f4f1;
}
checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
.body_1{
    display: flex;
    padding-top: 100px;
    
}
#body_2 {
    display: block;
    padding: 50px;
    margin: 20px;


}
p {
    font-size: 18px;
}
h1 {
    font-size: 80px;
}
#dodo {
    margin-left: 50px;
}
#btn_1 {
    border-radius: 50px;
    background: #FF4066;
    padding: 10px;
    color: white;
    border: none;
    size: 20px;
    cursor: pointer;
}
#touch {
    padding: 10px;
    color: white;
    background: #000;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    size: 20px;
}
#grow {
    color: #FF4066;
}
#background-image {
    display: flex;
    margin-left: 100px;
    padding-top: 50px;
    
}



